header {
    background-color: $blanco; 
    padding: 15px;
    border-bottom: 2px solid $negro-puro; 

   
    #nombredelid {
        font-weight: bold;
        text-align: center;
        color: $color-primario; 
    }

   
    nav {
        ul {
            display: flex;
            justify-content: center;
            list-style: none;
            gap: 20px;

            li a {
                text-decoration: none;
                color: $color-texto-oscuro;
                font-weight: bold;
                transition: color 0.3s ease;

                &:hover {
                    color: $color-primario;
                }
            }
        }
    }
}