.tarjeta {
    @include efecto-elevacion;
    background-color: $blanco;
    border-radius: 8px;
    padding: 20px;
}

@each $piloto, $color in $colores-equipos {
  .border-#{$piloto} {
    border: 3px solid $color;
  }
}


@for $i from 1 through 3 {
  .img-col-#{$i} {
    width: 100% / $i;
  }
}


.tarjeta {
    @include efecto-elevacion;
    background-color: $blanco;
    // ...
}

.tarjeta {
    width: 30%; 
    @include efecto-elevacion;

   
 @media (max-width: 576px) {
    width: 100%;
    margin-bottom: 20px;
}
}